<!doctype html>
<html lang="{{ site.locale }}" style=" background-color: black; ">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/_bridgetown/static/css/all.6902d0bf80a552c79eaa.css"/>
    <script src="/_bridgetown/static/js/all.a1286aad43064359dbc8.js" defer></script>
    <script src="{% asset_path javascript/pages/contact_form.js %}"></script>


  </head>
  <body class="{{ data.layout }} {{ data.page_class }}" style=" margin-top: 80px; background-color: black;
    color: white; ">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main>
      <div class="container">
        {% render "contantent", metadata: site.metadata, resource: resource %}
        {% render "services", metadata: site.metadata, resource: resource %}
        {% render "recent_work", metadata: site.metadata, resource: resource %}
        {% render "core_team", metadata: site.metadata, resource: resource %}
        {% render "work_with_future", metadata: site.metadata, resource: resource %}
        {% render "contact_us", metadata: site.metadata, resource: resource %}
      </div>


    </main>



  <div class="container">
    {% render "footer", metadata: site.metadata %}
  </div>
  </body>
</html>
