<style>
  .form-control{
  border: 1px solid #4F4F4F;
  background-color: #333333;
  color: #4F4F4F;
}

.p00{
  width: 138px;
  height: 38px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #56CCF2;
}

.p01{
  font-size: 28px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 30px;
}



.Component{
  width: 100px;
  height: 100px;
}

.Component:hover {
  border: 2px solid #56CCF2;
  border-radius: 10px;
  background-color: black;
}

.form-tag{
  width: 235px;
  height: 70px;
  border-radius: 56px;
  color: #56CCF2;
  background-color: #333333;
  border: 1px solid #4F4F4F;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.form-tag:hover {
  border: 1px solid #56CCF2;
}

.contact1231 {
  margin-left: 370px;
}

@media (max-width: 1399px) {
  .contact1231 {
    margin-left: 194px;
  }
}


@media (max-width: 1199px) {
  body {
    .Component{
      width: 70px;
      height: 70px;
    }

    .p01 {
      font-size: 22px;
    }

    .contact1231 {
      margin-left: 105px;
    }
  }
} 

@media (max-width: 991px) {
  body {
    .p00 {
      font-size: 20px;
    }

    .p01 {
      font-size: 16px;
    }

    .Component{
      width: 50px;
      height: 50px;
    }

    .submit123 {
      text-align: center;
    }

    .contact1231 {
      margin-left: auto;
    }
  }
} 

@media (max-width: 767px) {
  body {
    .contact123 {
      text-align: center;
    }

    .contact1231 {
      text-align: center;
    }

    .contact12312{
      text-align: -webkit-center;
    }

    .contact123121 {
      text-align: -webkit-center;
    }

    .contact321 {
      width: 100%;
      text-align: center;
    }
  }
} 

.contact123{
  margin-top: 100px;
}
</style>


<section id="five">
    <div>
      <div class="text-white contact123">
        <span class="span321">Schedule a call</span>  
        <h2>Let's talk business</h2>
      </div>  
      <div class="row mt-5 mb-4">
        <div class="col col321 text-white">
          <div class="row g-3 mb-4">
            <div class="col">
              <input type="text" class="form-control" name="first_name" required placeholder="First name" aria-label="First name" style="height: 55px">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="last_name" required placeholder="Last name" aria-label="Last name" style="height: 55px">
            </div>
          </div>
          <div class="row">
            <div class="col">        
              <input type="email" class="form-control" name="email" required id="exampleFormControlInput1" placeholder="name@example.com" style="height: 55px">
            </div>  
            <div class="col">  
              <input type="text" class="form-control" name="phone" required size="10" id="formGroupExampleInput" placeholder="Phone" style="height: 55px">
            </div> 
          </div>


          <div class="input-group mt-4">
            <textarea class="form-control" name="message" required aria-label="With textarea" placeholder="What would you like to know about?" style="height: 170px; width: 570px"></textarea>
          </div>

          <div class="mt-3 submit123">
            <input type="submit" value="Submit" class="btn btn-dark form-tag">
          </div>

        </div>

        <div class="col text-white col321 contact1231">
          <div class="contact12312">
            <p class="p00">Contact us</p>
            <p class="p01">(+977) 9847259410</p>
            <p class="p01">support@ompirit.com</p>
          </div> 
        
          <div class="mt-5 contact123121">
            <p class="p00">Follow us </div>
            <div class="">
            <a href="#"><img src="{{ '/images/Facebook1234.png' | relative_url }}" class="Component" alt="rss feed" /></a>&nbsp;&nbsp;
            <a href="#"><img src="{{ '/images/Linkedin1234.png' | relative_url }}" class="Component" alt="rss feed" /></a>&nbsp;&nbsp;
          </div> 
        </div>  
      </div> 
    </div>
</section>  

