
<section id="three">
  <div class="coreteam">
    <div class="row mt-5">
      <div class="col-md-1 text-white teams1">
        <div class="rotate1">
    				<div>
    				  <span class="hr-lines1">Core Team</span>
    				</div>
    			</div>
      </div>

      <div class="col-md-11 text-white">
        <div class="row rowa1">
          <div class="col-md-4 col-sm-6 team21">
            <div class="core-team">
              <div class="imgab">
                <div class="card card000">
                  <img src="{{ '/images/sarbada2.jpg' | relative_url }}" class="123img" alt="Logo" />
                </div>
              </div>
            
              <div class="card text-dark text-center card001">
                <h5 class="title text-white mt-3">Sarbada Nandan Jaiswal</h5>
                <span class="post text-white">CTO</span>
            
                <ul class="social">
                  <li class="li12"><a href="https://twitter.com/SARBADAJ" class="social-icon"><ion-icon name="logo-twitter"></ion-icon></a></li>
                  <li class=""><a href="https://www.linkedin.com/in/sarbada-nanda-jaiswal-6a461aba/" class="social-icon"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
              </div>  
            </div>
          </div>
        

          <div class="col-md-4 col-sm-6 team21">
            <div class="core-team">
              <div class="imgab">
                <div class="card card000">
                  <img src="{{ '/images/shajed.jpg' | relative_url }}" class="123img" alt="Logo" />
                </div>
              </div>

              <div class="card text-dark text-center card001">
                <h5 class="title text-white mt-3">Sazid Ansari</h5>
                <span class="post text-white">Senior Software Engineer</span>
            
                <ul class="social">
                  <li class="li12"><a href="https://twitter.com/SazidAn05990722" class="social-icon"><ion-icon name="logo-twitter"></ion-icon></a></li>
                  <li><a href="https://www.linkedin.com/in/sazid-ansari/" class="social-icon"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
              </div>  
            </div>
          </div>


          <div class="col-md-4 col-sm-6 team21">
            <div class="core-team">
              <div class="imgab">
                <div class="card card000">
                  <img src="{{ '/images/deva2.jpg' | relative_url }}" class="123img" alt="Logo" />
                </div>
              </div>
              <div class="card text-dark text-center card001">
                <h5 class="title text-white mt-3">Deva Nandan Jaiswal</h5>
                <span class="post text-white">Senior Frontend Devloper</span>
              
                <ul class="social">
                  <li class="li12"><a href="https://twitter.com/Devanandan1122" class="social-icon"><ion-icon name="logo-twitter"></ion-icon></a></li>
                  <li><a href="https://www.linkedin.com/in/deva-nandan-jaiswal-64561222a/" class="social-icon"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</section>  

