<header>

<nav class="navbar navbar-expand-lg bg-dark fixed-top" id="manNav">
  <div class="container-fluid">
    <div>
      <a href="#six" class="six">
        <img src="{{ '/images/om19.png' | relative_url }}" style=" width: 130px; height: 25px; " alt="Logo" />
      </a>
    </div>
    
    <div class="">
    <button id="toggleButton" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><ion-icon class="icon-mobile-nav" name="menu"></ion-icon></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end navigation" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 dropdown-menu navbar-nav123" aria-labelledby="dropdownMenuButton1" style="background: none;">
        <li class="nav-item one active">
          <a class="nav-link nav1" aria-current="page" href="#one">Services</a>
        </li>
        <li class="nav-item two">
          <a class="nav-link nav1" href="#two">Work</a>
        </li>
        <li class="nav-item three">
          <a class="nav-link nav1" href="#three">Core Team</a>
        </li>
        <li class="nav-item four">
          <a class="nav-link nav1" href="#four" tabindex="-1" aria-disabled="true">Technology</a>
        </li>
        <li class="nav-item five">
          <a class="nav-link text-white nav1 nav12" href="#five">&nbsp;&nbsp;&nbsp;Let's Talk&nbsp;&nbsp;&nbsp;</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
</header>

