<section id="two"> 
  <div class="row mt-5 container mb-5">
    <div class="col-md-1 text-white recent1">
      <div class="rotate1">
  				<div>
  				  <span class="hr-lines1">RECENT WORK</span>
  				</div>
  			</div>
    </div>

    <div class="col-md-11 text-white recent2">
      <div class="row">
        <div class="card bx">
          <div class="card-body">
            <div class="row ">
              <div class="col-6 row1">
                <h2 class="h22">Orderero</h2>
                <p class="p2">Suppliers, Installers & Facility Managers all in one place</p>
                <span class="spain1">Mobile  &nbsp;  &nbsp;  &nbsp;  Product Design</span>
              </div>
              <div class="col-6 row2">
                <div class="image1">

                  <img src="{{ '/images/iphone1.png' | relative_url }}" class="iphone1" alt="Logo" />
                  <img src="{{ '/images/iphone.png' | relative_url }}" class="iphone" alt="Logo" />
                </div>
              </div>
            </div> 
          <div>
        </div>
      </div>  
    </div>
  </div>     
</section>
    
			

