<section id="one">
  <div class="services1 container">
    <div class="row mt-5 services">
      <div class="col-md-4 text-white rotate12">
        <div class="rotate">
    				<div>
    				  <span class="hr-lines">SERVICES</span>
    				</div>
    			</div>
      </div>

      <div class="col-md-8 text-white rotate121">
        <div class="row">
          <div class="col-5 col55">
            <h3 class="h3">Software development</h3>
          </div>
          <div class="col-7 col77">
            <p class="p1">We Approach web development in the same way we approach mobiile development - by beginning and  enging with the user.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-5 col55">
            <h3 class="h3">Mobile Development</h3>
          </div>
          <div class="col-7 col77">
            <p class="p1">Our iterative design process & focus on validation ensures you avoid unnecessary features and costs, ending with a beautifual app built to satisfy users</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-5 col55">
            <h3 class="h3">UI/UX Design</h3>
          </div>
          <div class="col-7  col77">
            <p class="p1">We can bring the knowledge & experience we’ve gained from designing hundresd of app to refine your product -  or design a new one from scratch.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-5 col55">
            <h3 class="h3">DevOps</h3>
          </div>
          <div class="col-7 col77">
            <p class="p1">Accelerate and transform your business with comprehensive DevOps services. We provide end-to-end solutions to attain higher code standards, faster delivery, automation, efficiency, and innovation</p>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</section>  
